#title {
  font-style: italic;
  color: white;
  opacity: 1;
}
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #D3EBD8;
}
/* .texthere{
  color: darkgray;
} */
 #home {
/* background-image: url("https://cdn.glitch.com/17c859ea-8e0c-4609-8a2e-025502d4c2cb%2Fsource.gif?v=1561648367046");
  background-repeat: no-repeat;
  background-position: center;
 background-size: cover; */
  height: 1vh;
  opacity: 1;
  color: white;
}
#lk {
  background-image: url("https://66.media.tumblr.com/c4872312b20c2a3e91e497e562f081e4/tumblr_p6czyeSLrS1vxekw4o1_540.gif");
  background-repeat: no-repeat;
  background-position: center;
 background-size: cover;
  height: 25vh;
  text-align:center;
}
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #333;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: white;
}

.active {
  color: white;
}

/* css to format all pages */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #D3EBD8;
}

#describe{
  margin-left: 300px;
  margin-right: 300px;
}

/* #title2 {
  padding: 80px;
  color: white;
  background-image: url("https://cdn.glitch.com/17c859ea-8e0c-4609-8a2e-025502d4c2cb%2Fsource.gif?v=1561648367046");
  height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -17px;
  margin-bottom: 10px;
} */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-seri
}

/* .video{
  display: center;
  margin-right: -400px;
  margin-left: -400px;
} */

#viddy {
  margin-left: -300px;
}

/* #our-impact{
  margin-left: 350px;
  margin-right: 350px;
  color:#668A6B;
} */


.texthere {
  margin-left: 350px;
  margin-right: 350px;
  color: #668A6B;
}

.texthere iframe {
  margin-left: 350px;
  margin-right: 350px;
}

button{
  background-color: #D3EBD8;
  height:50px;
  width:100px;
  text-size: 50px;
} 
  #divie{
  color:#526E56;
}